body {
    background-color: #EEC407 !important;
}

.navbar {
    background-color: #056A34 !important;
}

#landing_page_logo_box{
    /* width: 10%; */
    display: inline-block;
    padding-right: 20px;
}

#landing_page_logo{
    width: 5em;
    position: absolute;
    top     : 15px;
    left   : 30px;
}

.collapse.show{
    padding-top: 3em;
}