{% extends '_general/base.html' %}

{% load static %}

{% block match_config_assets %}
    <!-- CSS Section -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/match_config.css' %}?v=20200217"/>

    <!-- JS Section -->
    <script type="text/javascript" src="{% static 'js/match_config.js' %}?v=20220508"></script>
{% endblock %}
 
{% block content %}
    <section id="match-config-main" role="main" class="container-fluid">
        <div class="row pt-5 px-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Umum</div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-default" @click="editRowToTable(true)">
                                    <i class="fa-solid fa-wrench"></i>
                                </button>
                                <button type="button" class="btn btn-default" :disabled="selectedFirstTeam == null || selectedSecondTeam == null" @click="saveMatchConfig">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="general-config-placeholder" class="mb-3">
                            <table id="general-config-table" class="display compact hover"></table>
                        </div>
                        <div id="general-config-placeholder" class="mb-3">
                            <table id="result-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-5 pt-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Pasukan Tuan Rumah</div>
                            <div class="d-flex justify-content-between">
                                <button v-if="currentTableSelection == 'home-team-config-table' || currentTableSelection == 'home-officials-config-table' || currentTableSelection == 'home-team-colors-config-table'" type="button" class="btn btn-default" @click="editRowToTable(false)">
                                    <i class="fa-solid fa-wrench"></i>
                                </button>
                                <select v-if="matchId == 'new_match'" class="form-select" aria-label="Default select example" v-model="selectedFirstTeam">
                                    <option v-for="team in teamsData" v-bind:value="team">
                                        <template>[[ team.TEAM ]]</template>
                                    </option>
                                    <option v-if="selectedFirstTeam != null" v-bind:value="null" style="background-color: rgb(219, 219, 219);">
                                        <template>Clear</template>
                                    </option>
                                </select>
                                <h6 v-else class="card-subtitle mt-1 text-muted">
                                    <template v-if="selectedFirstTeam != null">[[ selectedFirstTeam.TEAM_ID__TEAM ]]</template>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="home-team-config-placeholder" class="mb-3">
                            <h6 class="card-subtitle mb-2 text-muted">Pasukan Tuan Rumah</h6>
                            <table id="home-team-config-table" class="display compact hover"></table>
                        </div>
                        <div id="home-official-config-placeholder" class="mb-3">
                            <h6 class="card-subtitle mb-2 mt-4 text-muted">Pegawai Tuan Rumah</h6>
                            <table id="home-officials-config-table" class="display compact hover"></table>
                        </div>
                        <div id="home-team-colors-config-placeholder" class="mb-3">
                            <h6 class="card-subtitle mb-2 mt-4 text-muted">Warna Kit Tuan Rumah</h6>
                            <table id="home-team-colors-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Pasukan Tetamu</div>
                            <div class="d-flex justify-content-between">
                                <button v-if="currentTableSelection == 'away-team-config-table' || currentTableSelection == 'away-officials-config-table' || currentTableSelection == 'away-team-colors-config-table'" type="button" class="btn btn-default" @click="editRowToTable(false)">
                                    <i class="fa-solid fa-wrench"></i>
                                </button>
                                <select v-if="matchId == 'new_match'" class="form-select" aria-label="Default select example" v-model="selectedSecondTeam">
                                    <option v-for="team in teamsData" v-bind:value="team">
                                        <template>[[ team.TEAM ]]</template>
                                    </option>
                                    <option v-if="selectedSecondTeam != null" v-bind:value="null" style="background-color: rgb(219, 219, 219);">
                                        <template>Clear</template>
                                    </option>
                                </select>
                                <h6 v-else class="card-subtitle mt-1 text-muted">
                                    <template v-if="selectedSecondTeam != null">[[ selectedSecondTeam.TEAM_ID__TEAM ]]</template>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="away-team-config-placeholder" class="mb-3">
                            <h6 class="card-subtitle mb-2 text-muted">Pasukan Tetamu</h6>
                            <table id="away-team-config-table" class="display compact hover"></table>
                        </div>
                        <div id="away-official-config-placeholder" class="mb-3">
                            <h6 class="card-subtitle mb-2 mt-4 text-muted">Pegawai Tetamu</h6>
                            <table id="away-officials-config-table" class="display compact hover"></table>
                        </div>
                        <div id="away-team-colors-config-placeholder" class="mb-3">
                            <h6 class="card-subtitle mb-2 mt-4 text-muted">Warna Kit Tetamu</h6>
                            <table id="away-team-colors-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-5 pt-2 pb-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Perwakilan</div>
                            <div class="d-flex justify-content-between">
                                <button v-if="currentTableSelection == 'delegates-config-table'" type="button" class="btn btn-default" @click="deleteRowSelected">
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </button>
                                <button v-if="currentTableSelection == 'delegates-config-table'" type="button" class="btn btn-default" @click="editRowToTable(false)">
                                    <i class="fa-solid fa-wrench"></i>
                                </button>
                                <button type="button" class="btn btn-default" @click="openAddTable">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="delegates-config-placeholder" class="mb-3">
                            <table id="delegates-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modal/_add_rowdata.html' %}
    </section>
{% endblock %}

{% block match_config_script %}
    <script>
        const serverData = JSON.parse("{{ server_data | safe }}".replace(/'/g, '"').replace(/\\/g, "/"))
        const teamsData = JSON.parse("{{ teams_data | safe }}".replace(/'/g, '"').replace(/\\/g, "/"))
        const delegatesData = JSON.parse("{{ delegatesData | safe }}".replace(/'/g, '"').replace(/\\/g, "/"))
        
        const csrfToken = '{{ csrf_token }}';
        $(document).ready( function() {
            const app = new MatchConfig(serverData, teamsData, delegatesData, "{{ match_id }}", "{{ tournament_title }}")
            app.init(csrfToken)
        })
    </script>
{% endblock %}