{% extends '_general/base.html' %}

{% load static %}

{% block match_config_assets %}
    <!-- CSS Section -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/match_config.css' %}?v=20200217"/>

    <!-- JS Section -->
    <script type="text/javascript" src="{% static 'js/match_config.js' %}?v=20220508"></script>
{% endblock %}
 
{% block content %}
    <section id="match-config-main" role="main" class="container-fluid">
        <div class="row pt-5 px-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Umum</div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#match-config-modal">
                                    <i class="fa-solid fa-wrench"></i>
                                </button>
                                <button type="button" class="btn btn-default" @click="saveMatchConfig">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="general-config-placeholder" class="mb-3">
                            <table id="general-config-table" class="display compact hover"></table>
                            <!-- <table id="result-config-table" class="display compact hover"></table>
                            <table id="colors-config-table" class="display compact hover"></table> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-5 pt-2">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Pasukan Tuan Rumah</div>
                            <div class="d-flex justify-content-between">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="general-config-placeholder" class="mb-3">
                            <table id="home-first-eleven-config-table" class="display compact hover"></table>
                            <table id="home-substitude-config-table" class="display compact hover"></table>
                            <table id="home-not-eligible-config-table" class="display compact hover"></table>
                            <table id="home-not-playing-config-table" class="display compact hover"></table>
                            <table id="home-officials-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Pasukan Tetamu</div>
                            <div class="d-flex justify-content-between">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="general-config-placeholder" class="mb-3">
                            <table id="away-first-eleven-config-table" class="display compact hover"></table>
                            <table id="away-substitude-config-table" class="display compact hover"></table>
                            <table id="away-not-eligible-config-table" class="display compact hover"></table>
                            <table id="away-not-playing-config-table" class="display compact hover"></table>
                            <table id="away-officials-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-5 pt-2">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Data Delegasi</div>
                            <div class="d-flex justify-content-between">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="general-config-placeholder" class="mb-3">
                            <table id="delegation-config-table" class="display compact hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modal/_add_rowdata.html' %}
    </section>
{% endblock %}

{% block match_config_script %}
    <script>
        let serverData = "{{ server_data | safe }}".replace(/'/g, '"').replace(/\\/g, "/");

        const csrfToken = '{{ csrf_token }}';
        $(document).ready( function() {
            const app = new MatchConfig(JSON.parse(serverData))
            app.init(csrfToken)
        })
    </script>
{% endblock %}