{% extends '_general/base.html' %}

{% load static %}

{% block team_config_assets %}
    <!-- CSS Section -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/team_config.css' %}?v=20200217"/>

    <!-- JS Section -->
    <script type="text/javascript" src="{% static 'js/team_config.js' %}?v=20220508"></script>
{% endblock %}
 
{% block content %}
    <section id="team-config-main" role="main" class="container-fluid">
        <div class="row p-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="">Senarai Pasukan</div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#team-config-modal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default" @click="triggerDocUploadWin">
                                    <i class="fa-solid fa-file-excel"></i>
                                    <input type="file" name="" id="doc-upload" @change="updateTableWithDoc">
                                </button>
                                <button type="button" class="btn btn-default" @click="saveTeamsConfig">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="team-config-placeholder" class="mb-3">
                            <table id="team-config-table" class="display compact hover"></table>
                        </div>
                        <div class="btn-group float-end" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-info" :disabled="selectionActive === false" @click="navigateToTeamPage">View Team</button>
                            <button type="button" class="btn btn-danger" :disabled="selectionActive === false" @click="deleteRowSelected">Delete</button>
                            <button type="button" class="btn btn-secondary" :disabled="selectionActive === false" @click="editRowToTable">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modal/_add_rowdata.html' %}
    </section>
{% endblock %}

{% block team_config_script %}
    
    <script>
        // const data = "{{ data | safe }}".replace(/'/g, '"');
        const rowData = "{{ rowData | safe }}".replace(/'/g, '"');
        const csrfToken = '{{ csrf_token }}';
        $(document).ready( function() {
            const app = new TeamConfig(JSON.parse(rowData))
            app.init(csrfToken)
        })
    </script>
{% endblock %}